@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700');

* {
  box-sizing: border-box;
}

body {
  background-color: #0c0c0c;
  overflow: hidden;
}

.mobile-landing-page {
  display: none;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#slides {
  position: relative;
  width: 100%;
  height: 100%;
}
#slides .slide {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}
#slides .slide .title {
  position: absolute;
  top: calc(50% - 0.5em);
  left: 20px;
  z-index: 2;
  font-size: 5em;
  color: white;
  overflow: hidden;
}
#slides .slide .title .title-text {
  display: block;
  -webkit-transform: translateY(1.2em);
          transform: translateY(1.2em);
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
#slides .slide .slide-partial {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
#slides .slide .slide-partial img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}
#slides .slide .slide-left-1, .slide-left-2, .slide-left-3, .slide-left-4, .slide-left-5 {
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
#slides .slide .slide-left img {
  top: 0;
  right: 0;
  -o-object-position: 100% 50%;
     object-position: 100% 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
#slides .slide .slide-right-1, .slide-right-2,.slide-right-3,.slide-right-4,.slide-right-5 {
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  transition-delay: 0.2s;
}
#slides .slide .slide-right img {
  top: 0;
  left: 0;
  -o-object-position: 0% 50%;
     object-position: 0% 50%;
  transition-delay: 0.2s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#slides .slide.active .title .title-text {
  -webkit-transform: translate(0);
          transform: translate(0);
  transition-delay: 0.3s;
}
#slides .slide.active .slide-partial, #slides .slide.active .slide-partial img {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

#slide-select {
  position: absolute;
  bottom: 20px;
  left: 88%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5em;
  font-weight: lighter;
  color: white;
}
#slide-select li {
  position: relative;
  cursor: pointer;
  margin: 0 5px;
}
#slide-select li.prev:hover {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
}
#slide-select li.next:hover {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}
#slide-select .selector {
  height: 14px;
  width: 14px;
  border: 2px solid white;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}
#slide-select .selector.current {
  background-color: white;
}


.charles-heading {
  font-family: 'Old Standard TT', serif;
  font-size: 9em;
  color: #fff;
}
.le-heading {
  font-family: 'Old Standard TT', serif;
  font-size: 9em;
  color: #fff;
  padding-bottom: 5%;
}

.content-headings {
  font-family: 'Old Standard TT', serif;
  font-size: 5em;
  color: #fff;
}

.heading-container {
  width: 100%;
  display: inline-block;
}

.left-container-headings {
  width: 50%;
  height: 100%;
  padding-top: 40%;
  float: left;
}

.right-container-headings {
  width: 50%;
  height: 100%;
  padding-top: 12%;
  float: right;
}

.main-headings {
  text-align: right;
  height: 100%;
}
.subheadings{
  text-align: justify;
  height: 100%;
  padding-top: 95%;
  padding-left: 15%;
  padding-right: 20%;
}

.catchphrase h2 {
  font-family: 'Old Standard TT', serif;
  font-size: 1.2em;
  color: #fff;
  text-align: left;
  line-height: 200%;
}

.content-container {
  background-color: #000;
  width: 100%;
  height: 100%;
  padding: 20%;
  padding-top: 30%;
  margin: 0 auto;
  text-align: justify;
}

.location-container, .contact-container {
  background-color: #000;
  width: 100%;
  height: 100%;
  padding: 20%;
  margin: 0 auto;
  text-align: justify;
}

.text-subheading {
  font-family: 'Old Standard TT', serif;
  font-size: 1.2em;
  color: #fff;
  font-weight: 400;
}

p {
  font-family: 'Old Standard TT', serif;
  font-size: 1.2em;
  color: #fff;
  line-height: 30px;
   font-weight: 400;
}

.chat-heading  {
  font-family: 'Old Standard TT', serif;
   font-size: 10em;
  color: #fff;
  border-bottom: 0.5px solid #fff;
  margin-top: -10%;
}

.big-letter {
  opacity: 0.3;
  color: #fff;
  position: absolute;
  z-index:0;
  font-size: 18em;
  transform: translateY(-60%);

}



/* CUBE ANIMATION */
#cube-background{
  background-color: #000;
}
.cube-container {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  float: left;
  -webkit-animation: roll 5s linear infinite;
          animation: roll 5s linear infinite;
  -webkit-transform: rotateX(-12deg) rotateY(-1deg);
          transform: rotateX(-12deg) rotateY(-1deg);
  will-change: transform;

}
.cube-container:nth-child(0) {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
.cube-container:nth-child(1) {
  -webkit-animation-delay: 33ms;
          animation-delay: 33ms;
}
.cube-container:nth-child(2) {
  -webkit-animation-delay: 66ms;
          animation-delay: 66ms;
}
.cube-container:nth-child(3) {
  -webkit-animation-delay: 99ms;
          animation-delay: 99ms;
}
.cube-container:nth-child(4) {
  -webkit-animation-delay: 132ms;
          animation-delay: 132ms;
}
.cube-container:nth-child(5) {
  -webkit-animation-delay: 165ms;
          animation-delay: 165ms;
}
.cube-container:nth-child(6) {
  -webkit-animation-delay: 198ms;
          animation-delay: 198ms;
}
.cube-container:nth-child(7) {
  -webkit-animation-delay: 231ms;
          animation-delay: 231ms;
}
.cube-container:nth-child(8) {
  -webkit-animation-delay: 264ms;
          animation-delay: 264ms;
}
.cube-container:nth-child(9) {
  -webkit-animation-delay: 297ms;
          animation-delay: 297ms;
}
.cube-container:nth-child(10) {
  -webkit-animation-delay: 330ms;
          animation-delay: 330ms;
}
.cube-container:nth-child(11) {
  -webkit-animation-delay: 363ms;
          animation-delay: 363ms;
}
.cube-container:nth-child(12) {
  -webkit-animation-delay: 396ms;
          animation-delay: 396ms;
}
.cube-container:nth-child(13) {
  -webkit-animation-delay: 429ms;
          animation-delay: 429ms;
}
.cube-container:nth-child(14) {
  -webkit-animation-delay: 462ms;
          animation-delay: 462ms;
}
.cube-container:nth-child(15) {
  -webkit-animation-delay: 495ms;
          animation-delay: 495ms;
}
.cube-container:nth-child(16) {
  -webkit-animation-delay: 528ms;
          animation-delay: 528ms;
}
.cube-container:nth-child(17) {
  -webkit-animation-delay: 561ms;
          animation-delay: 561ms;
}
.cube-container:nth-child(18) {
  -webkit-animation-delay: 594ms;
          animation-delay: 594ms;
}
.cube-container:nth-child(19) {
  -webkit-animation-delay: 627ms;
          animation-delay: 627ms;
}
.cube-container:nth-child(20) {
  -webkit-animation-delay: 660ms;
          animation-delay: 660ms;
}
.cube-container:nth-child(21) {
  -webkit-animation-delay: 693ms;
          animation-delay: 693ms;
}
.cube-container:nth-child(22) {
  -webkit-animation-delay: 726ms;
          animation-delay: 726ms;
}
.cube-container:nth-child(23) {
  -webkit-animation-delay: 759ms;
          animation-delay: 759ms;
}
.cube-container:nth-child(24) {
  -webkit-animation-delay: 792ms;
          animation-delay: 792ms;
}
.cube-container:nth-child(25) {
  -webkit-animation-delay: 825ms;
          animation-delay: 825ms;
}
.cube-container:nth-child(26) {
  -webkit-animation-delay: 858ms;
          animation-delay: 858ms;
}
.cube-container:nth-child(27) {
  -webkit-animation-delay: 891ms;
          animation-delay: 891ms;
}
.cube-container:nth-child(28) {
  -webkit-animation-delay: 924ms;
          animation-delay: 924ms;
}
.cube-container:nth-child(29) {
  -webkit-animation-delay: 957ms;
          animation-delay: 957ms;
}
.cube-container:nth-child(30) {
  -webkit-animation-delay: 990ms;
          animation-delay: 990ms;
}
.cube-container:nth-child(31) {
  -webkit-animation-delay: 1023ms;
          animation-delay: 1023ms;
}
.cube-container:nth-child(32) {
  -webkit-animation-delay: 1056ms;
          animation-delay: 1056ms;
}
.cube-container:nth-child(33) {
  -webkit-animation-delay: 1089ms;
          animation-delay: 1089ms;
}
.cube-container:nth-child(34) {
  -webkit-animation-delay: 1122ms;
          animation-delay: 1122ms;
}
.cube-container:nth-child(35) {
  -webkit-animation-delay: 1155ms;
          animation-delay: 1155ms;
}
.cube-container:nth-child(36) {
  -webkit-animation-delay: 1188ms;
          animation-delay: 1188ms;
}
.cube-container:nth-child(37) {
  -webkit-animation-delay: 1221ms;
          animation-delay: 1221ms;
}
.cube-container:nth-child(38) {
  -webkit-animation-delay: 1254ms;
          animation-delay: 1254ms;
}
.cube-container:nth-child(39) {
  -webkit-animation-delay: 1287ms;
          animation-delay: 1287ms;
}
.cube-container:nth-child(40) {
  -webkit-animation-delay: 1320ms;
          animation-delay: 1320ms;
}
.cube-container:nth-child(41) {
  -webkit-animation-delay: 1353ms;
          animation-delay: 1353ms;
}
.cube-container:nth-child(42) {
  -webkit-animation-delay: 1386ms;
          animation-delay: 1386ms;
}
.cube-container:nth-child(43) {
  -webkit-animation-delay: 1419ms;
          animation-delay: 1419ms;
}
.cube-container:nth-child(44) {
  -webkit-animation-delay: 1452ms;
          animation-delay: 1452ms;
}
.cube-container:nth-child(45) {
  -webkit-animation-delay: 1485ms;
          animation-delay: 1485ms;
}
.cube-container:nth-child(46) {
  -webkit-animation-delay: 1518ms;
          animation-delay: 1518ms;
}
.cube-container:nth-child(47) {
  -webkit-animation-delay: 1551ms;
          animation-delay: 1551ms;
}
.cube-container:nth-child(48) {
  -webkit-animation-delay: 1584ms;
          animation-delay: 1584ms;
}
.cube-container:nth-child(49) {
  -webkit-animation-delay: 1617ms;
          animation-delay: 1617ms;
}
.cube-container:nth-child(50) {
  -webkit-animation-delay: 1650ms;
          animation-delay: 1650ms;
}
.cube-container:nth-child(51) {
  -webkit-animation-delay: 1683ms;
          animation-delay: 1683ms;
}
.cube-container:nth-child(52) {
  -webkit-animation-delay: 1716ms;
          animation-delay: 1716ms;
}
.cube-container:nth-child(53) {
  -webkit-animation-delay: 1749ms;
          animation-delay: 1749ms;
}
.cube-container:nth-child(54) {
  -webkit-animation-delay: 1782ms;
          animation-delay: 1782ms;
}
.cube-container:nth-child(55) {
  -webkit-animation-delay: 1815ms;
          animation-delay: 1815ms;
}
.cube-container:nth-child(56) {
  -webkit-animation-delay: 1848ms;
          animation-delay: 1848ms;
}
.cube-container:nth-child(57) {
  -webkit-animation-delay: 1881ms;
          animation-delay: 1881ms;
}
.cube-container:nth-child(58) {
  -webkit-animation-delay: 1914ms;
          animation-delay: 1914ms;
}
.cube-container:nth-child(59) {
  -webkit-animation-delay: 1947ms;
          animation-delay: 1947ms;
}
.cube-container:nth-child(60) {
  -webkit-animation-delay: 1980ms;
          animation-delay: 1980ms;
}
.cube-container:nth-child(61) {
  -webkit-animation-delay: 2013ms;
          animation-delay: 2013ms;
}
.cube-container:nth-child(62) {
  -webkit-animation-delay: 2046ms;
          animation-delay: 2046ms;
}
.cube-container:nth-child(63) {
  -webkit-animation-delay: 2079ms;
          animation-delay: 2079ms;
}
.cube-container:nth-child(64) {
  -webkit-animation-delay: 2112ms;
          animation-delay: 2112ms;
}
.cube-container:nth-child(65) {
  -webkit-animation-delay: 2145ms;
          animation-delay: 2145ms;
}
.cube-container:nth-child(66) {
  -webkit-animation-delay: 2178ms;
          animation-delay: 2178ms;
}
.cube-container:nth-child(67) {
  -webkit-animation-delay: 2211ms;
          animation-delay: 2211ms;
}
.cube-container:nth-child(68) {
  -webkit-animation-delay: 2244ms;
          animation-delay: 2244ms;
}
.cube-container:nth-child(69) {
  -webkit-animation-delay: 2277ms;
          animation-delay: 2277ms;
}
.cube-container:nth-child(70) {
  -webkit-animation-delay: 2310ms;
          animation-delay: 2310ms;
}
.cube-container:nth-child(71) {
  -webkit-animation-delay: 2343ms;
          animation-delay: 2343ms;
}
.cube-container:nth-child(72) {
  -webkit-animation-delay: 2376ms;
          animation-delay: 2376ms;
}
.cube-container:nth-child(73) {
  -webkit-animation-delay: 2409ms;
          animation-delay: 2409ms;
}
.cube-container:nth-child(74) {
  -webkit-animation-delay: 2442ms;
          animation-delay: 2442ms;
}
.cube-container:nth-child(75) {
  -webkit-animation-delay: 2475ms;
          animation-delay: 2475ms;
}
.cube-container:nth-child(76) {
  -webkit-animation-delay: 2508ms;
          animation-delay: 2508ms;
}
.cube-container:nth-child(77) {
  -webkit-animation-delay: 2541ms;
          animation-delay: 2541ms;
}
.cube-container:nth-child(78) {
  -webkit-animation-delay: 2574ms;
          animation-delay: 2574ms;
}
.cube-container:nth-child(79) {
  -webkit-animation-delay: 2607ms;
          animation-delay: 2607ms;
}
.cube-container:nth-child(80) {
  -webkit-animation-delay: 2640ms;
          animation-delay: 2640ms;
}
.cube-container:nth-child(81) {
  -webkit-animation-delay: 2673ms;
          animation-delay: 2673ms;
}
.cube-container:nth-child(82) {
  -webkit-animation-delay: 2706ms;
          animation-delay: 2706ms;
}
.cube-container:nth-child(83) {
  -webkit-animation-delay: 2739ms;
          animation-delay: 2739ms;
}
.cube-container:nth-child(84) {
  -webkit-animation-delay: 2772ms;
          animation-delay: 2772ms;
}
.cube-container:nth-child(85) {
  -webkit-animation-delay: 2805ms;
          animation-delay: 2805ms;
}
.cube-container:nth-child(86) {
  -webkit-animation-delay: 2838ms;
          animation-delay: 2838ms;
}
.cube-container:nth-child(87) {
  -webkit-animation-delay: 2871ms;
          animation-delay: 2871ms;
}
.cube-container:nth-child(88) {
  -webkit-animation-delay: 2904ms;
          animation-delay: 2904ms;
}
.cube-container:nth-child(89) {
  -webkit-animation-delay: 2937ms;
          animation-delay: 2937ms;
}
.cube-container:nth-child(90) {
  -webkit-animation-delay: 2970ms;
          animation-delay: 2970ms;
}
.cube-container:nth-child(91) {
  -webkit-animation-delay: 3003ms;
          animation-delay: 3003ms;
}
.cube-container:nth-child(92) {
  -webkit-animation-delay: 3036ms;
          animation-delay: 3036ms;
}
.cube-container:nth-child(93) {
  -webkit-animation-delay: 3069ms;
          animation-delay: 3069ms;
}
.cube-container:nth-child(94) {
  -webkit-animation-delay: 3102ms;
          animation-delay: 3102ms;
}
.cube-container:nth-child(95) {
  -webkit-animation-delay: 3135ms;
          animation-delay: 3135ms;
}
.cube-container:nth-child(96) {
  -webkit-animation-delay: 3168ms;
          animation-delay: 3168ms;
}
.cube-container:nth-child(97) {
  -webkit-animation-delay: 3201ms;
          animation-delay: 3201ms;
}
.cube-container:nth-child(98) {
  -webkit-animation-delay: 3234ms;
          animation-delay: 3234ms;
}
.cube-container:nth-child(99) {
  -webkit-animation-delay: 3267ms;
          animation-delay: 3267ms;
}
.cube-container:nth-child(100) {
  -webkit-animation-delay: 3300ms;
          animation-delay: 3300ms;
}
.cube-container:nth-child(101) {
  -webkit-animation-delay: 3333ms;
          animation-delay: 3333ms;
}
.cube-container:nth-child(102) {
  -webkit-animation-delay: 3366ms;
          animation-delay: 3366ms;
}
.cube-container:nth-child(103) {
  -webkit-animation-delay: 3399ms;
          animation-delay: 3399ms;
}
.cube-container:nth-child(104) {
  -webkit-animation-delay: 3432ms;
          animation-delay: 3432ms;
}
.cube-container:nth-child(105) {
  -webkit-animation-delay: 3465ms;
          animation-delay: 3465ms;
}
.cube-container:nth-child(106) {
  -webkit-animation-delay: 3498ms;
          animation-delay: 3498ms;
}
.cube-container:nth-child(107) {
  -webkit-animation-delay: 3531ms;
          animation-delay: 3531ms;
}
.cube-container:nth-child(108) {
  -webkit-animation-delay: 3564ms;
          animation-delay: 3564ms;
}
.cube-container:nth-child(109) {
  -webkit-animation-delay: 3597ms;
          animation-delay: 3597ms;
}
.cube-container:nth-child(110) {
  -webkit-animation-delay: 3630ms;
          animation-delay: 3630ms;
}
.cube-container:nth-child(111) {
  -webkit-animation-delay: 3663ms;
          animation-delay: 3663ms;
}
.cube-container:nth-child(112) {
  -webkit-animation-delay: 3696ms;
          animation-delay: 3696ms;
}
.cube-container:nth-child(113) {
  -webkit-animation-delay: 3729ms;
          animation-delay: 3729ms;
}
.cube-container:nth-child(114) {
  -webkit-animation-delay: 3762ms;
          animation-delay: 3762ms;
}
.cube-container:nth-child(115) {
  -webkit-animation-delay: 3795ms;
          animation-delay: 3795ms;
}
.cube-container:nth-child(116) {
  -webkit-animation-delay: 3828ms;
          animation-delay: 3828ms;
}
.cube-container:nth-child(117) {
  -webkit-animation-delay: 3861ms;
          animation-delay: 3861ms;
}
.cube-container:nth-child(118) {
  -webkit-animation-delay: 3894ms;
          animation-delay: 3894ms;
}
.cube-container:nth-child(119) {
  -webkit-animation-delay: 3927ms;
          animation-delay: 3927ms;
}
.cube-container:nth-child(120) {
  -webkit-animation-delay: 3960ms;
          animation-delay: 3960ms;
}
.cube-container:nth-child(121) {
  -webkit-animation-delay: 3993ms;
          animation-delay: 3993ms;
}
.cube-container:nth-child(122) {
  -webkit-animation-delay: 4026ms;
          animation-delay: 4026ms;
}
.cube-container:nth-child(123) {
  -webkit-animation-delay: 4059ms;
          animation-delay: 4059ms;
}
.cube-container:nth-child(124) {
  -webkit-animation-delay: 4092ms;
          animation-delay: 4092ms;
}
.cube-container:nth-child(125) {
  -webkit-animation-delay: 4125ms;
          animation-delay: 4125ms;
}
.cube-container:nth-child(126) {
  -webkit-animation-delay: 4158ms;
          animation-delay: 4158ms;
}
.cube-container:nth-child(127) {
  -webkit-animation-delay: 4191ms;
          animation-delay: 4191ms;
}
.cube-container:nth-child(128) {
  -webkit-animation-delay: 4224ms;
          animation-delay: 4224ms;
}
.cube-container:nth-child(129) {
  -webkit-animation-delay: 4257ms;
          animation-delay: 4257ms;
}
.cube-container:nth-child(130) {
  -webkit-animation-delay: 4290ms;
          animation-delay: 4290ms;
}
.cube-container:nth-child(131) {
  -webkit-animation-delay: 4323ms;
          animation-delay: 4323ms;
}
.cube-container:nth-child(132) {
  -webkit-animation-delay: 4356ms;
          animation-delay: 4356ms;
}
.cube-container:nth-child(133) {
  -webkit-animation-delay: 4389ms;
          animation-delay: 4389ms;
}
.cube-container:nth-child(134) {
  -webkit-animation-delay: 4422ms;
          animation-delay: 4422ms;
}
.cube-container:nth-child(135) {
  -webkit-animation-delay: 4455ms;
          animation-delay: 4455ms;
}
.cube-container:nth-child(136) {
  -webkit-animation-delay: 4488ms;
          animation-delay: 4488ms;
}
.cube-container:nth-child(137) {
  -webkit-animation-delay: 4521ms;
          animation-delay: 4521ms;
}
.cube-container:nth-child(138) {
  -webkit-animation-delay: 4554ms;
          animation-delay: 4554ms;
}
.cube-container:nth-child(139) {
  -webkit-animation-delay: 4587ms;
          animation-delay: 4587ms;
}
.cube-container:nth-child(140) {
  -webkit-animation-delay: 4620ms;
          animation-delay: 4620ms;
}
.cube-container:nth-child(141) {
  -webkit-animation-delay: 4653ms;
          animation-delay: 4653ms;
}
.cube-container:nth-child(142) {
  -webkit-animation-delay: 4686ms;
          animation-delay: 4686ms;
}
.cube-container:nth-child(143) {
  -webkit-animation-delay: 4719ms;
          animation-delay: 4719ms;
}
.cube-container:nth-child(144) {
  -webkit-animation-delay: 4752ms;
          animation-delay: 4752ms;
}
.cube-container:nth-child(145) {
  -webkit-animation-delay: 4785ms;
          animation-delay: 4785ms;
}
.cube-container:nth-child(146) {
  -webkit-animation-delay: 4818ms;
          animation-delay: 4818ms;
}
.cube-container:nth-child(147) {
  -webkit-animation-delay: 4851ms;
          animation-delay: 4851ms;
}
.cube-container:nth-child(148) {
  -webkit-animation-delay: 4884ms;
          animation-delay: 4884ms;
}
.cube-container:nth-child(149) {
  -webkit-animation-delay: 4917ms;
          animation-delay: 4917ms;
}
.cube-container:nth-child(150) {
  -webkit-animation-delay: 4950ms;
          animation-delay: 4950ms;
}
.cube-container:nth-child(151) {
  -webkit-animation-delay: 4983ms;
          animation-delay: 4983ms;
}
.cube-container:nth-child(152) {
  -webkit-animation-delay: 5016ms;
          animation-delay: 5016ms;
}
.cube-container:nth-child(153) {
  -webkit-animation-delay: 5049ms;
          animation-delay: 5049ms;
}
.cube-container:nth-child(154) {
  -webkit-animation-delay: 5082ms;
          animation-delay: 5082ms;
}
.cube-container:nth-child(155) {
  -webkit-animation-delay: 5115ms;
          animation-delay: 5115ms;
}
.cube-container:nth-child(156) {
  -webkit-animation-delay: 5148ms;
          animation-delay: 5148ms;
}
.cube-container:nth-child(157) {
  -webkit-animation-delay: 5181ms;
          animation-delay: 5181ms;
}
.cube-container:nth-child(158) {
  -webkit-animation-delay: 5214ms;
          animation-delay: 5214ms;
}
.cube-container:nth-child(159) {
  -webkit-animation-delay: 5247ms;
          animation-delay: 5247ms;
}
.cube-container:nth-child(160) {
  -webkit-animation-delay: 5280ms;
          animation-delay: 5280ms;
}
.cube-container:nth-child(161) {
  -webkit-animation-delay: 5313ms;
          animation-delay: 5313ms;
}
.cube-container:nth-child(162) {
  -webkit-animation-delay: 5346ms;
          animation-delay: 5346ms;
}
.cube-container:nth-child(163) {
  -webkit-animation-delay: 5379ms;
          animation-delay: 5379ms;
}
.cube-container:nth-child(164) {
  -webkit-animation-delay: 5412ms;
          animation-delay: 5412ms;
}
.cube-container:nth-child(165) {
  -webkit-animation-delay: 5445ms;
          animation-delay: 5445ms;
}
.cube-container:nth-child(166) {
  -webkit-animation-delay: 5478ms;
          animation-delay: 5478ms;
}
.cube-container:nth-child(167) {
  -webkit-animation-delay: 5511ms;
          animation-delay: 5511ms;
}
.cube-container:nth-child(168) {
  -webkit-animation-delay: 5544ms;
          animation-delay: 5544ms;
}
.cube-container:nth-child(169) {
  -webkit-animation-delay: 5577ms;
          animation-delay: 5577ms;
}
.cube-container:nth-child(170) {
  -webkit-animation-delay: 5610ms;
          animation-delay: 5610ms;
}
.cube-container:nth-child(171) {
  -webkit-animation-delay: 5643ms;
          animation-delay: 5643ms;
}
.cube-container:nth-child(172) {
  -webkit-animation-delay: 5676ms;
          animation-delay: 5676ms;
}
.cube-container:nth-child(173) {
  -webkit-animation-delay: 5709ms;
          animation-delay: 5709ms;
}
.cube-container:nth-child(174) {
  -webkit-animation-delay: 5742ms;
          animation-delay: 5742ms;
}
.cube-container:nth-child(175) {
  -webkit-animation-delay: 5775ms;
          animation-delay: 5775ms;
}
.cube-container:nth-child(176) {
  -webkit-animation-delay: 5808ms;
          animation-delay: 5808ms;
}
.cube-container:nth-child(177) {
  -webkit-animation-delay: 5841ms;
          animation-delay: 5841ms;
}
.cube-container:nth-child(178) {
  -webkit-animation-delay: 5874ms;
          animation-delay: 5874ms;
}
.cube-container:nth-child(179) {
  -webkit-animation-delay: 5907ms;
          animation-delay: 5907ms;
}
.cube-container:nth-child(180) {
  -webkit-animation-delay: 5940ms;
          animation-delay: 5940ms;
}
.cube-container:nth-child(181) {
  -webkit-animation-delay: 5973ms;
          animation-delay: 5973ms;
}
.cube-container:nth-child(182) {
  -webkit-animation-delay: 6006ms;
          animation-delay: 6006ms;
}
.cube-container:nth-child(183) {
  -webkit-animation-delay: 6039ms;
          animation-delay: 6039ms;
}
.cube-container:nth-child(184) {
  -webkit-animation-delay: 6072ms;
          animation-delay: 6072ms;
}
.cube-container:nth-child(185) {
  -webkit-animation-delay: 6105ms;
          animation-delay: 6105ms;
}
.cube-container:nth-child(186) {
  -webkit-animation-delay: 6138ms;
          animation-delay: 6138ms;
}
.cube-container:nth-child(187) {
  -webkit-animation-delay: 6171ms;
          animation-delay: 6171ms;
}
.cube-container:nth-child(188) {
  -webkit-animation-delay: 6204ms;
          animation-delay: 6204ms;
}
.cube-container:nth-child(189) {
  -webkit-animation-delay: 6237ms;
          animation-delay: 6237ms;
}
.cube-container:nth-child(190) {
  -webkit-animation-delay: 6270ms;
          animation-delay: 6270ms;
}
.cube-container:nth-child(191) {
  -webkit-animation-delay: 6303ms;
          animation-delay: 6303ms;
}
.cube-container:nth-child(192) {
  -webkit-animation-delay: 6336ms;
          animation-delay: 6336ms;
}
.cube-container:nth-child(193) {
  -webkit-animation-delay: 6369ms;
          animation-delay: 6369ms;
}
.cube-container:nth-child(194) {
  -webkit-animation-delay: 6402ms;
          animation-delay: 6402ms;
}
.cube-container:nth-child(195) {
  -webkit-animation-delay: 6435ms;
          animation-delay: 6435ms;
}
.cube-container:nth-child(196) {
  -webkit-animation-delay: 6468ms;
          animation-delay: 6468ms;
}
.cube-container:nth-child(197) {
  -webkit-animation-delay: 6501ms;
          animation-delay: 6501ms;
}
.cube-container:nth-child(198) {
  -webkit-animation-delay: 6534ms;
          animation-delay: 6534ms;
}
.cube-container:nth-child(199) {
  -webkit-animation-delay: 6567ms;
          animation-delay: 6567ms;
}
.cube-container:nth-child(200) {
  -webkit-animation-delay: 6600ms;
          animation-delay: 6600ms;
}
.cube-container:nth-child(201) {
  -webkit-animation-delay: 6633ms;
          animation-delay: 6633ms;
}
.cube-container:nth-child(202) {
  -webkit-animation-delay: 6666ms;
          animation-delay: 6666ms;
}
.cube-container:nth-child(203) {
  -webkit-animation-delay: 6699ms;
          animation-delay: 6699ms;
}
.cube-container:nth-child(204) {
  -webkit-animation-delay: 6732ms;
          animation-delay: 6732ms;
}
.cube-container:nth-child(205) {
  -webkit-animation-delay: 6765ms;
          animation-delay: 6765ms;
}
.cube-container:nth-child(206) {
  -webkit-animation-delay: 6798ms;
          animation-delay: 6798ms;
}
.cube-container:nth-child(207) {
  -webkit-animation-delay: 6831ms;
          animation-delay: 6831ms;
}
.cube-container:nth-child(208) {
  -webkit-animation-delay: 6864ms;
          animation-delay: 6864ms;
}
.cube-container:nth-child(209) {
  -webkit-animation-delay: 6897ms;
          animation-delay: 6897ms;
}
.cube-container:nth-child(210) {
  -webkit-animation-delay: 6930ms;
          animation-delay: 6930ms;
}
.cube-container:nth-child(211) {
  -webkit-animation-delay: 6963ms;
          animation-delay: 6963ms;
}
.cube-container:nth-child(212) {
  -webkit-animation-delay: 6996ms;
          animation-delay: 6996ms;
}
.cube-container:nth-child(213) {
  -webkit-animation-delay: 7029ms;
          animation-delay: 7029ms;
}
.cube-container:nth-child(214) {
  -webkit-animation-delay: 7062ms;
          animation-delay: 7062ms;
}
.cube-container:nth-child(215) {
  -webkit-animation-delay: 7095ms;
          animation-delay: 7095ms;
}
.cube-container:nth-child(216) {
  -webkit-animation-delay: 7128ms;
          animation-delay: 7128ms;
}
.cube-container:nth-child(217) {
  -webkit-animation-delay: 7161ms;
          animation-delay: 7161ms;
}
.cube-container:nth-child(218) {
  -webkit-animation-delay: 7194ms;
          animation-delay: 7194ms;
}
.cube-container:nth-child(219) {
  -webkit-animation-delay: 7227ms;
          animation-delay: 7227ms;
}
.cube-container:nth-child(220) {
  -webkit-animation-delay: 7260ms;
          animation-delay: 7260ms;
}
.cube-container:nth-child(221) {
  -webkit-animation-delay: 7293ms;
          animation-delay: 7293ms;
}
.cube-container:nth-child(222) {
  -webkit-animation-delay: 7326ms;
          animation-delay: 7326ms;
}
.cube-container:nth-child(223) {
  -webkit-animation-delay: 7359ms;
          animation-delay: 7359ms;
}
.cube-container:nth-child(224) {
  -webkit-animation-delay: 7392ms;
          animation-delay: 7392ms;
}
.cube-container:nth-child(225) {
  -webkit-animation-delay: 7425ms;
          animation-delay: 7425ms;
}
.cube-container:nth-child(226) {
  -webkit-animation-delay: 7458ms;
          animation-delay: 7458ms;
}
.cube-container:nth-child(227) {
  -webkit-animation-delay: 7491ms;
          animation-delay: 7491ms;
}
.cube-container:nth-child(228) {
  -webkit-animation-delay: 7524ms;
          animation-delay: 7524ms;
}
.cube-container:nth-child(229) {
  -webkit-animation-delay: 7557ms;
          animation-delay: 7557ms;
}
.cube-container:nth-child(230) {
  -webkit-animation-delay: 7590ms;
          animation-delay: 7590ms;
}
.cube-container:nth-child(231) {
  -webkit-animation-delay: 7623ms;
          animation-delay: 7623ms;
}
.cube-container:nth-child(232) {
  -webkit-animation-delay: 7656ms;
          animation-delay: 7656ms;
}
.cube-container:nth-child(233) {
  -webkit-animation-delay: 7689ms;
          animation-delay: 7689ms;
}
.cube-container:nth-child(234) {
  -webkit-animation-delay: 7722ms;
          animation-delay: 7722ms;
}
.cube-container:nth-child(235) {
  -webkit-animation-delay: 7755ms;
          animation-delay: 7755ms;
}
.cube-container:nth-child(236) {
  -webkit-animation-delay: 7788ms;
          animation-delay: 7788ms;
}
.cube-container:nth-child(237) {
  -webkit-animation-delay: 7821ms;
          animation-delay: 7821ms;
}
.cube-container:nth-child(238) {
  -webkit-animation-delay: 7854ms;
          animation-delay: 7854ms;
}
.cube-container:nth-child(239) {
  -webkit-animation-delay: 7887ms;
          animation-delay: 7887ms;
}
.cube-container:nth-child(240) {
  -webkit-animation-delay: 7920ms;
          animation-delay: 7920ms;
}
.cube-container:nth-child(241) {
  -webkit-animation-delay: 7953ms;
          animation-delay: 7953ms;
}
.cube-container:nth-child(242) {
  -webkit-animation-delay: 7986ms;
          animation-delay: 7986ms;
}
.cube-container:nth-child(243) {
  -webkit-animation-delay: 8019ms;
          animation-delay: 8019ms;
}
.cube-container:nth-child(244) {
  -webkit-animation-delay: 8052ms;
          animation-delay: 8052ms;
}
.cube-container:nth-child(245) {
  -webkit-animation-delay: 8085ms;
          animation-delay: 8085ms;
}
.cube-container:nth-child(246) {
  -webkit-animation-delay: 8118ms;
          animation-delay: 8118ms;
}
.cube-container:nth-child(247) {
  -webkit-animation-delay: 8151ms;
          animation-delay: 8151ms;
}
.cube-container:nth-child(248) {
  -webkit-animation-delay: 8184ms;
          animation-delay: 8184ms;
}
.cube-container:nth-child(249) {
  -webkit-animation-delay: 8217ms;
          animation-delay: 8217ms;
}
.cube-container:nth-child(250) {
  -webkit-animation-delay: 8250ms;
          animation-delay: 8250ms;
}
.cube-container:nth-child(251) {
  -webkit-animation-delay: 8283ms;
          animation-delay: 8283ms;
}
.cube-container:nth-child(252) {
  -webkit-animation-delay: 8316ms;
          animation-delay: 8316ms;
}
.cube-container:nth-child(253) {
  -webkit-animation-delay: 8349ms;
          animation-delay: 8349ms;
}
.cube-container:nth-child(254) {
  -webkit-animation-delay: 8382ms;
          animation-delay: 8382ms;
}
.cube-container:nth-child(255) {
  -webkit-animation-delay: 8415ms;
          animation-delay: 8415ms;
}
.cube-container:nth-child(256) {
  -webkit-animation-delay: 8448ms;
          animation-delay: 8448ms;
}
.cube-container:nth-child(257) {
  -webkit-animation-delay: 8481ms;
          animation-delay: 8481ms;
}
.cube-container:nth-child(258) {
  -webkit-animation-delay: 8514ms;
          animation-delay: 8514ms;
}
.cube-container:nth-child(259) {
  -webkit-animation-delay: 8547ms;
          animation-delay: 8547ms;
}
.cube-container:nth-child(260) {
  -webkit-animation-delay: 8580ms;
          animation-delay: 8580ms;
}
.cube-container:nth-child(261) {
  -webkit-animation-delay: 8613ms;
          animation-delay: 8613ms;
}
.cube-container:nth-child(262) {
  -webkit-animation-delay: 8646ms;
          animation-delay: 8646ms;
}
.cube-container:nth-child(263) {
  -webkit-animation-delay: 8679ms;
          animation-delay: 8679ms;
}
.cube-container:nth-child(264) {
  -webkit-animation-delay: 8712ms;
          animation-delay: 8712ms;
}
.cube-container:nth-child(265) {
  -webkit-animation-delay: 8745ms;
          animation-delay: 8745ms;
}
.cube-container:nth-child(266) {
  -webkit-animation-delay: 8778ms;
          animation-delay: 8778ms;
}
.cube-container:nth-child(267) {
  -webkit-animation-delay: 8811ms;
          animation-delay: 8811ms;
}
.cube-container:nth-child(268) {
  -webkit-animation-delay: 8844ms;
          animation-delay: 8844ms;
}
.cube-container:nth-child(269) {
  -webkit-animation-delay: 8877ms;
          animation-delay: 8877ms;
}
.cube-container:nth-child(270) {
  -webkit-animation-delay: 8910ms;
          animation-delay: 8910ms;
}
.cube-container:nth-child(271) {
  -webkit-animation-delay: 8943ms;
          animation-delay: 8943ms;
}
.cube-container:nth-child(272) {
  -webkit-animation-delay: 8976ms;
          animation-delay: 8976ms;
}
.cube-container:nth-child(273) {
  -webkit-animation-delay: 9009ms;
          animation-delay: 9009ms;
}
.cube-container:nth-child(274) {
  -webkit-animation-delay: 9042ms;
          animation-delay: 9042ms;
}
.cube-container:nth-child(275) {
  -webkit-animation-delay: 9075ms;
          animation-delay: 9075ms;
}
.cube-container:nth-child(276) {
  -webkit-animation-delay: 9108ms;
          animation-delay: 9108ms;
}
.cube-container:nth-child(277) {
  -webkit-animation-delay: 9141ms;
          animation-delay: 9141ms;
}
.cube-container:nth-child(278) {
  -webkit-animation-delay: 9174ms;
          animation-delay: 9174ms;
}
.cube-container:nth-child(279) {
  -webkit-animation-delay: 9207ms;
          animation-delay: 9207ms;
}
.cube-container:nth-child(280) {
  -webkit-animation-delay: 9240ms;
          animation-delay: 9240ms;
}
.cube-container:nth-child(281) {
  -webkit-animation-delay: 9273ms;
          animation-delay: 9273ms;
}
.cube-container:nth-child(282) {
  -webkit-animation-delay: 9306ms;
          animation-delay: 9306ms;
}
.cube-container:nth-child(283) {
  -webkit-animation-delay: 9339ms;
          animation-delay: 9339ms;
}
.cube-container:nth-child(284) {
  -webkit-animation-delay: 9372ms;
          animation-delay: 9372ms;
}
.cube-container:nth-child(285) {
  -webkit-animation-delay: 9405ms;
          animation-delay: 9405ms;
}
.cube-container:nth-child(286) {
  -webkit-animation-delay: 9438ms;
          animation-delay: 9438ms;
}
.cube-container:nth-child(287) {
  -webkit-animation-delay: 9471ms;
          animation-delay: 9471ms;
}
.cube-container:nth-child(288) {
  -webkit-animation-delay: 9504ms;
          animation-delay: 9504ms;
}
.cube-container:nth-child(289) {
  -webkit-animation-delay: 9537ms;
          animation-delay: 9537ms;
}
.cube-container:nth-child(290) {
  -webkit-animation-delay: 9570ms;
          animation-delay: 9570ms;
}
.cube-container:nth-child(291) {
  -webkit-animation-delay: 9603ms;
          animation-delay: 9603ms;
}
.cube-container:nth-child(292) {
  -webkit-animation-delay: 9636ms;
          animation-delay: 9636ms;
}
.cube-container:nth-child(293) {
  -webkit-animation-delay: 9669ms;
          animation-delay: 9669ms;
}
.cube-container:nth-child(294) {
  -webkit-animation-delay: 9702ms;
          animation-delay: 9702ms;
}
.cube-container:nth-child(295) {
  -webkit-animation-delay: 9735ms;
          animation-delay: 9735ms;
}
.cube-container:nth-child(296) {
  -webkit-animation-delay: 9768ms;
          animation-delay: 9768ms;
}
.cube-container:nth-child(297) {
  -webkit-animation-delay: 9801ms;
          animation-delay: 9801ms;
}
.cube-container:nth-child(298) {
  -webkit-animation-delay: 9834ms;
          animation-delay: 9834ms;
}
.cube-container:nth-child(299) {
  -webkit-animation-delay: 9867ms;
          animation-delay: 9867ms;
}
.cube-container:nth-child(300) {
  -webkit-animation-delay: 9900ms;
          animation-delay: 9900ms;
}
.cube-container:nth-child(301) {
  -webkit-animation-delay: 9933ms;
          animation-delay: 9933ms;
}
.cube-container:nth-child(302) {
  -webkit-animation-delay: 9966ms;
          animation-delay: 9966ms;
}
.cube-container:nth-child(303) {
  -webkit-animation-delay: 9999ms;
          animation-delay: 9999ms;
}
.cube-container:nth-child(304) {
  -webkit-animation-delay: 10032ms;
          animation-delay: 10032ms;
}
.cube-container:nth-child(305) {
  -webkit-animation-delay: 10065ms;
          animation-delay: 10065ms;
}
.cube-container:nth-child(306) {
  -webkit-animation-delay: 10098ms;
          animation-delay: 10098ms;
}
.cube-container:nth-child(307) {
  -webkit-animation-delay: 10131ms;
          animation-delay: 10131ms;
}
.cube-container:nth-child(308) {
  -webkit-animation-delay: 10164ms;
          animation-delay: 10164ms;
}
.cube-container:nth-child(309) {
  -webkit-animation-delay: 10197ms;
          animation-delay: 10197ms;
}
.cube-container:nth-child(310) {
  -webkit-animation-delay: 10230ms;
          animation-delay: 10230ms;
}
.cube-container:nth-child(311) {
  -webkit-animation-delay: 10263ms;
          animation-delay: 10263ms;
}
.cube-container:nth-child(312) {
  -webkit-animation-delay: 10296ms;
          animation-delay: 10296ms;
}
.cube-container:nth-child(313) {
  -webkit-animation-delay: 10329ms;
          animation-delay: 10329ms;
}
.cube-container:nth-child(314) {
  -webkit-animation-delay: 10362ms;
          animation-delay: 10362ms;
}
.cube-container:nth-child(315) {
  -webkit-animation-delay: 10395ms;
          animation-delay: 10395ms;
}
.cube-container:nth-child(316) {
  -webkit-animation-delay: 10428ms;
          animation-delay: 10428ms;
}
.cube-container:nth-child(317) {
  -webkit-animation-delay: 10461ms;
          animation-delay: 10461ms;
}
.cube-container:nth-child(318) {
  -webkit-animation-delay: 10494ms;
          animation-delay: 10494ms;
}
.cube-container:nth-child(319) {
  -webkit-animation-delay: 10527ms;
          animation-delay: 10527ms;
}
.cube-container:nth-child(320) {
  -webkit-animation-delay: 10560ms;
          animation-delay: 10560ms;
}
.cube-container:nth-child(321) {
  -webkit-animation-delay: 10593ms;
          animation-delay: 10593ms;
}
.cube-container:nth-child(322) {
  -webkit-animation-delay: 10626ms;
          animation-delay: 10626ms;
}
.cube-container:nth-child(323) {
  -webkit-animation-delay: 10659ms;
          animation-delay: 10659ms;
}
.cube-container:nth-child(324) {
  -webkit-animation-delay: 10692ms;
          animation-delay: 10692ms;
}
.cube-container:nth-child(325) {
  -webkit-animation-delay: 10725ms;
          animation-delay: 10725ms;
}
.cube-container:nth-child(326) {
  -webkit-animation-delay: 10758ms;
          animation-delay: 10758ms;
}
.cube-container:nth-child(327) {
  -webkit-animation-delay: 10791ms;
          animation-delay: 10791ms;
}
.cube-container:nth-child(328) {
  -webkit-animation-delay: 10824ms;
          animation-delay: 10824ms;
}
.cube-container:nth-child(329) {
  -webkit-animation-delay: 10857ms;
          animation-delay: 10857ms;
}
.cube-container:nth-child(330) {
  -webkit-animation-delay: 10890ms;
          animation-delay: 10890ms;
}
.cube-container:nth-child(331) {
  -webkit-animation-delay: 10923ms;
          animation-delay: 10923ms;
}
.cube-container:nth-child(332) {
  -webkit-animation-delay: 10956ms;
          animation-delay: 10956ms;
}
.cube-container:nth-child(333) {
  -webkit-animation-delay: 10989ms;
          animation-delay: 10989ms;
}
.cube-container:nth-child(334) {
  -webkit-animation-delay: 11022ms;
          animation-delay: 11022ms;
}
.cube-container:nth-child(335) {
  -webkit-animation-delay: 11055ms;
          animation-delay: 11055ms;
}
.cube-container:nth-child(336) {
  -webkit-animation-delay: 11088ms;
          animation-delay: 11088ms;
}
.cube-container:nth-child(337) {
  -webkit-animation-delay: 11121ms;
          animation-delay: 11121ms;
}
.cube-container:nth-child(338) {
  -webkit-animation-delay: 11154ms;
          animation-delay: 11154ms;
}
.cube-container:nth-child(339) {
  -webkit-animation-delay: 11187ms;
          animation-delay: 11187ms;
}
.cube-container:nth-child(340) {
  -webkit-animation-delay: 11220ms;
          animation-delay: 11220ms;
}
.cube-container:nth-child(341) {
  -webkit-animation-delay: 11253ms;
          animation-delay: 11253ms;
}
.cube-container:nth-child(342) {
  -webkit-animation-delay: 11286ms;
          animation-delay: 11286ms;
}
.cube-container:nth-child(343) {
  -webkit-animation-delay: 11319ms;
          animation-delay: 11319ms;
}
.cube-container:nth-child(344) {
  -webkit-animation-delay: 11352ms;
          animation-delay: 11352ms;
}
.cube-container:nth-child(345) {
  -webkit-animation-delay: 11385ms;
          animation-delay: 11385ms;
}
.cube-container:nth-child(346) {
  -webkit-animation-delay: 11418ms;
          animation-delay: 11418ms;
}
.cube-container:nth-child(347) {
  -webkit-animation-delay: 11451ms;
          animation-delay: 11451ms;
}
.cube-container:nth-child(348) {
  -webkit-animation-delay: 11484ms;
          animation-delay: 11484ms;
}
.cube-container:nth-child(349) {
  -webkit-animation-delay: 11517ms;
          animation-delay: 11517ms;
}

.cube {
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  float: left;
  margin-bottom: 50px;
  margin-right: 40px;
  -webkit-transform: rotate3d(80, 265, 0.5451, -45deg) rotate(17deg) rotateX(-10deg);
          transform: rotate3d(80, 265, 0.5451, -45deg) rotate(17deg) rotateX(-10deg);
}

.side {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid #fff;
  background: #000;
}

.back {
  -webkit-transform: translateZ(-50px);
          transform: translateZ(-50px);
}

.left {
  -webkit-transform: translateX(-50px) rotateY(90deg);
          transform: translateX(-50px) rotateY(90deg);
}

.right {
  -webkit-transform: translateX(50px) rotateY(90deg);
          transform: translateX(50px) rotateY(90deg);
}

.top {
  -webkit-transform: translateY(-50px) rotateX(90deg);
          transform: translateY(-50px) rotateX(90deg);
}

.bottom {
  -webkit-transform: translateY(50px) rotateX(90deg);
          transform: translateY(50px) rotateX(90deg);
}

.front {
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}

@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes roll {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

/* CONTACT FORM */


@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #f2f2f2;
  font-size: 1em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #000;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #f2f2f2;
  font-size: 1em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #000;
}

input::placeholder, textarea::placeholder {
  color: #f2f2f2;
  font-size: 1em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #000;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #f2f2f2;
  font-size: 1em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #000;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #f2f2f2;
  font-size: 1em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #000;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #000;
  font-size: 1em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #000;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #000;
  font-size: 1em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #000;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #000;
  font-size: 1em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #000;
}


#form {
  position: relative;
  width: 100%;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Old Standard TT', serif;
  font-size: 1em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #f2f2f2;
  border: solid 1px #f2f2f2;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #f2f2f2;
  color: #000;
}

textarea {
  width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #f2f2f2;
  font-family: 'Old Standard TT', serif;
  font-size: 1em;
  border: solid 1px #f2f2f2;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #f2f2f2;
  color: #000;
}



#submit {
  width: 100%;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Old Standard TT', serif;
  font-size: 1em;
  color: #f2f2f2;
  outline:none;
  cursor: pointer;
  border: solid 1px #f2f2f2;
  border-top: none;
}

#submit:hover {
  background-color: #f2f2f2;
  color: #000;
}


